<ion-view mz-screen view-title="{{ title | translate }}">
    <ion-content class="content">
    	<div class="list">
    		<div ng-repeat="important in high" class="highlight" ng-style="{'background-image':'url('+important[1].trendingimg+')'}">
    			<div class="info">
    				<p class="title">{{important[1].name}}</p>
    				<p class="subtitle">{{convertTime(important[1].time)}} | {{important[0]}}</p>
    			</div>
    			<!-- <span class="ion-ios-football icon"></span> -->
	        </div>
        </div>
    </ion-content>
</ion-view>